.page-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

main {
  width: 70%;
  height: 50%;
  margin: 0 auto;
}

.filter-dropdowns {
  display: flex;
  flex-direction: column;
}

app-city-dropdown,
app-movie-dropdown,
app-theatre-dropdown,
app-show-dropdown,
app-seats-dropdown {
  width: 25%;
  padding: 1% 0;
}
