<div class="page-container">
  <main>
    <div class="filter-dropdowns">
      <app-city-dropdown
        (citySelectedEvent)="onCitySelection($event)"
      ></app-city-dropdown>
      <app-movie-dropdown
        (movieSelectedEvent)="onMovieSelection($event)"
      ></app-movie-dropdown>
      <app-theatre-dropdown
        (theatreSelectedEvent)="onTheatreSelection($event)"
      ></app-theatre-dropdown>
      <app-show-dropdown
        (showSelectedEvent)="onShowSelection($event)"
      ></app-show-dropdown>
      <app-seats-dropdown
        (seatsSelectedEvent)="onSeatsSelection($event)"
      ></app-seats-dropdown>
    </div>
    <div class="seat-selector">
      <app-show-description
        *ngIf="selectedShow !== 0"
        [selectedShow]="selectedShow"
      ></app-show-description>
      <app-seat-layout
        *ngIf="selectedShow !== 0 && selectedSeatsNumber !== 0"
        [selectedShow]="selectedShow"
        [selectedSeatsNumber]="selectedSeatsNumber"
        (onSelectionChange)="updateSelectedSeats($event)"
      ></app-seat-layout>
      <button
        *ngIf="selectedShow !== 0 && selectedSeatsNumber !== 0"
        (click)="onSeatsSubmit()"
        [disabled]="selectedSeats.length != selectedSeatsNumber"
      >
        Book Tickets
      </button>
    </div>
  </main>
</div>
